<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Indian National Bank (INB)</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <nav id="Navigation-Bar" class="Background_1">
      <div id="Logo">
        <a href="/"><img src="/images/Logo.jpg" alt="Logo"></a>
        <p id="Para_1"><a href="/">I N B</a></p>
      </div>

      <div id="Heading">
        <h1 id="Heading_1">Indian National Bank (INB)</h1>
        <p id="Para_2">India's No.1 and one of the World's largest growing Private Banks</p>
      </div>
    </nav>

    <section id="Section_1" class="Background_2">
      <div id="Main-Box_1">
        <div id="firstHalf">
          <h2>Welcome to The Indian National Bank</h2>
          <p id="Para_3">We are India's No.1 and one of the World's largest growing Private Banks.</p>
          <p id="Para_4">"Desire is the key to motivation, but it's determination and commitment to an unrelenting
             pursuit of your goal - A Commitment to excellence that will enable you to attain the success you seek."
          </p>
          <p id="Para_5">
            - Mario Andretti
          </p>
        </div>

        <div id="secondHalf">
          <img src="/images/Image-1.jpg" alt="Image">
        </div>
      </div>

      <div id="Main-Box_2">
        <p><a href="/Customers">View all Customers</a></p>
      </div>
    </section>

    <footer>
      <div id="Copyright">
        Copyright &copy; www.IndianNationalBank.com. All rights reserved!
      </div>
    </footer>
  </body>
</html>
