*{
  margin: 0;
  padding: 0;
}

#Navigation-Bar{
  display: flex;
  position: relative;
}

.Background_1{
  background: rgba(0, 0, 0, 0.8) url("/images/Background-1.jpg");
  background-blend-mode: darken;
}

nav #Logo{
  width: 30%;
}

#Navigation-Bar #Logo img{
  width: 45px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 45px;
  border: 3px solid white;
}

#Navigation-Bar div #Para_1 a{
  font-size: 12px;
  margin: 0px 18px 2px;
  color: white;
  text-decoration: none;
}

nav #Heading{
  width: 40%;
  text-align: center;
}

#Heading h1{
  font-size: 30px;
  margin-top: 10px;
  color: white;
}

#Heading #Para_2{
  margin-top: 4px;
  color: white;
  font-size: 12px;
}

.Background_2{
  background: rgba(0, 0, 0, 0.8) url("/images/Background-1.jpg");
  height: 499px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

#Main-Box_1{
  padding: 60px 120px 20px 70px;
  display: flex;
}

#firstHalf{
  width: 70%;
  padding-top: 45px;
}

#firstHalf h2{
  color: white;
  margin-bottom: 22px;
  font-size: 29px;
}

#firstHalf p{
  color: white;
  font-size: 18px;
}

#Para_3{
  padding: 0px 15px 25px;
}

#Para_4{
  padding: 0px 15px 14px;
}

#Para_5{
  float: right;
  padding-right: 25px;
}

#secondHalf{
  width: 30%;
}

#secondHalf img{
  width: 340px;
  border: 1px solid white;
}

#Main-Box_2{
  width: 15%;
  margin: 50px auto;
  text-align: center;
  padding: 3px;
}

#Main-Box_2 p{
  font-size: 17px;
}

#Main-Box_2 a{
  color: blue;
}

#Main-Box_2 a:hover{
  color: rgb(0, 0, 190);
}

#Copyright{
  background: black;
  color: white;
  text-align: center;
  opacity: 0.9;
}